@import "tailwindcss";

@font-face {
    font-family: "Space Grotesk";
    src: url("fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-bg: #0a0a0a;
    --color-surface: #111111;
    --color-border: #1f1f1f;

    --color-primary: #facc15;
    --color-primary-hover: #eab308;

    --color-text: #f5f5f5;
    --color-text-muted: #a3a3a3;
}

@theme {
    --font-sans: "Space Grotesk", sans-serif;

    --color-bg: var(--color-bg);
    --color-surface: var(--color-surface);
    --color-border: var(--color-border);
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-hover);
    --color-text: var(--color-text);
    --color-text-muted: var(--color-text-muted);
}