@import "tailwindcss";

:root {
    --color-bg: #0a0a0a;
    --color-surface: #111111;
    --color-border: #1f1f1f;

    --color-primary: #facc15;
    --color-primary-hover: #eab308;

    --color-text: #f5f5f5;
    --color-text-muted: #a3a3a3;
}